<<<<<<< HEAD
=======
/* FONTS */

>>>>>>> 4dfff8be5ad1064d3704f08fc89337f4ad0f87c9
/* ROOT */
:root {
	/* colors */
	--colorPrimary: #fff;
	--colorSecondary: #fff;
	/* backgrounds */
	--backgroundPrimary: #fff;
	--backgroundSecondary: #fff;
	/* btn colors */
	--btnPrimary: #fff;
	--btnHover: #000;
	--btnDisabled: #fff;
	/* fonts */
	--fontPrimary: Arial, Helvetica, sans-serif;
	--fontWeight: 400;
	--fontSize: 12px;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
	scroll-behavior: smooth;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	display: flex;
	flex-direction: column;
	height: 100%;
<<<<<<< HEAD
	font-family: 'Jost', sans-serif;
	font-weight: 400;
=======
>>>>>>> 4dfff8be5ad1064d3704f08fc89337f4ad0f87c9
}

main {
	flex-grow: 1;
}

img {
	max-width: 100%;
	height: auto;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.container {
	width: 100%;
	max-width: 1320px;
	margin-right: auto;
	margin-left: auto;
	padding-right: 20px;
	padding-left: 20px;
}

ol,
ul {
	list-style: none;
}

a {
	text-decoration: none;
	background-color: transparent;
}
